body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1C1C1C;

}

.main {
    margin: auto;
    margin-top: 10vh;
    background: #1F2937;
    width: 500px;
    height: 500px;
    padding: 50px;
}

.title {
    width: 354px;
    color: var(--white, #FFF);
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -1px;
    margin: 115px 144px 10px 52px;
}

.span {
    color: #F59E0B;
    display: block;
}

.subtitle {
    width: 372px;
    height: 28px;
    color: var(--Medium-grey, #D5D4D8);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 10px 126px 51px 52px;
}

#generate-btn {
    height: 42px;
    width: 191px;
    display: flex;
    align-items: center;
    margin: 51px 307px 35px 52px;
    border-radius: 6px;
    border: 1px solid #F59E0B;
    background: #F59E0B;
    color: var(--white, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 9px 17px 9px 15px;
}

.line-divider {
    border-top: 1px solid #2F3E53;
    width: 446px;
    height: 1px;
    margin: 35px 52px 0;
}

.output {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#psd1-output, #psd2-output {
    width: 211px;
    height: 39px;
    border-radius: 6px;
    background: #273549;
    margin: 35px 12px 115px 52px;
    color: #F59E0B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


